header {
  height: 64px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  background-color: var(--black);
}

.header__title {
  color: var(--white);
  font-weight: 700;
  font-size: 1.5rem;
}
