header {
  height: 64px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
}

.header__title {
  color: var(--white);
  font-weight: 700;
  font-size: 1.5rem;
}

.header__title__accent {
  background-image: linear-gradient(
    245deg,
    hsl(240deg 100% 64%) 0%,
    hsl(340deg 100% 57%) 64%,
    hsl(55deg 100% 50%) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__score {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: var(--white);
  font-weight: 600;
}
