.MemoryCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-variant);
  /* album-art size + 2rem border allowance */
  width: calc(11rem + 2rem);
  height: calc(11rem + 2rem);
  border-radius: 8px;
  transition: all ease-in 100ms;
}

.MemoryCard:hover {
  background-color: var(--black-variant-selected);
  cursor: pointer;
}

.MemoryCard__album-art {
  height: 11rem;
  width: 11rem;
}
